@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --main-black: #272727;
    --ps: #B3B3B3;

}


.body {
    font-family: 'Raleway', 'Sans-serief';
    background: var(--main-black);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input {
    margin: 0;
    padding: 0;
}

/* Статичные заголовок и подпись*/

.header {
    padding: 41px 0px;
}

.ps {
    position: absolute;
    bottom: 0;
}

.ps__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 36px;
    color: var(--ps);
}

/* Главный контейнер выравнивания*/

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1120px;
    justify-content: center;
    align-items: center;
}

/* Контейнер приложения */

.app-container {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    width: 1120px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


/* StartPage - стили*/

.start-page-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 890px;
}

.title-main {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    text-align: center;
    max-width: 750px;
    color: #FFFFFF;
}

.interact-zone {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

/* Левый контейнер */

.interact-zone__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc((100% / 2) - 20px);
}

.left__descr {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.left__button {
    width: max-content;
    background-color: #313131;
    border-radius: 10px;
    border: none;
    padding: 22px 36px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    align-self: flex-end;
    padding-left: 70px;

    background-size: 24px 24px;
    background-position: 27px;
    background-repeat: no-repeat;
    transition: all .5s ease-in;
}

.left__button:hover {
    background-color: #1f1f1f;
}

.share-btn {
    background-image: url('/STAY-A-HEALTHY/src/assets/share-btn.svg');
    margin-bottom: 15px;
}

.more-btn {
    background-image: url('/STAY-A-HEALTHY/src/assets/more-btn.svg');
}

/* Правый контейнер*/

.interact-zone__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc((100% / 2) - 20px);
}

.right__descr {
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 33px;
}

/* Стили для формы правого контейнера # */

.right__form {
    width: 320px;
    display: flex;
    flex-direction: column;
}

.form__label {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.form__input {
    background-color: #2B2B2B;
    border: 2px solid #4A4A4A;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 18px;
    padding-left: 10px;
    transition: all .5s ease-in;
}

.form__input:hover {
    background-color: #1f1f1f;
}

.form__input:focus {
    outline: none;
}

.form__input:active {
    background-color: #1f1f1f;
}

.input-number {
    width: 208px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.input-number-min,
.input-number-max {
    background-color: #2A2A2A;
    border: 2px solid #4A4A4A;
    border-radius: 10px;
    padding: 20px;
    height: 40px;

    background-size: 10px 10px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .5s ease-in;
}

.input-number-min:hover,
.input-number-max:hover {
    background-color: #1f1f1f;
}

.input-number-min {
    background-image: url('/STAY-A-HEALTHY/src/assets/min.svg');
    margin-right: 5px;
}

.input-number-max {
    background-image: url('/STAY-A-HEALTHY/src/assets/max.svg');
}

.form__submit-start {
    background-color: #2FCC59;
    border: none;
    border-radius: 10px;
    padding: 22px 120px;

    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;

    background-size: 24px 24px;
    background-position: 98px;
    background-repeat: no-repeat;
    background-image: url('/STAY-A-HEALTHY/src/assets/start.svg');
    transition: all .5s ease-in;
}

.form__submit-start:hover {
    background-color: #1d8037;
}


