@import '/STAY-A-HEALTHY/src/css/quiz-card.css';

.session-quiz-pick__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 1118px;
}

.quiz__title {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.quiz__descr {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
    max-width: 420px;
}

.quiz__done {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.quiz__progress-bar {
    width: 80%;
    height: 16px;
    display: flex;
    border-radius: 100px;
    margin-bottom: 100px;
}

.quiz__progress-bar div {
    width: calc(100% / 3);
}

.bar1 {
    border-radius: 10px 0 0 10px;
}

.bar3 {
    border-radius: 0 10px 10px 0;
}

.bar1, .bar2, .bar3 {
    background-color: #313131;
}

.bar1 {
    background-color: #2FCC59;
}

.quiz__interact-zone {
    width: 100%;
    display: flex;
    column-gap: 10px;
}